body {
	--menu-width: 5em;
	font-family: 'Raleway', sans-serif;
}

body > .layout {
	width:  100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

body > .layout > .fill {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex: 1;
}

body > .layout > .fill > .main-content {
	position: relative;
	flex: 1;
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

body > .layout > .header {
	border-bottom: #CCC 1px solid;
}

body > .layout > .footer {
	border-top: #CCC 1px solid;
}

body > .layout > .header,
body > .layout > .fill > .left-bar input,
body > .layout > .fill > .main-content,
body > .layout > .footer {
	padding: 1.25rem;
	margin-bottom: 0.75em;
}

body > .layout > .fill > .main-content {
	box-shadow: -10px 0px 10px rgba(0,0,0,0.25);
	z-index: 5;
}

div[data-path] {
	max-width: 800px;
}

a[href] {
	color: #07C;
}

div.loader {
	background-image: url('./spin.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	object-fit: contain;
	object-position: center;
	display: block;
	z-index: 3;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.5;
}

.home {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: right;
}

.home h1 {
	font-size: 7.5em;
	line-height:  1em;
	position: relative;
}

.home h1::after {
	content: '℠';
	font-size: 1.25rem;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	overflow: visible;
}

.home h1 + b{
	margin-bottom: 0.5em;
	margin-top: 1.5em;
}

.home .copyright {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	text-align: right;
	opacity: 0.5;
	font-weight: 100;
}

.plain {
	font-size: 1.25em;
}
