.menu {
	min-height: 100%;
	position: relative;
	outline: none;
}

.menu li {
	cursor: pointer;
	flex: 1;
}

 .menu ul {
 	display: flex;
	flex-direction: column;
}

.menu ul li {
	flex: 1;
}

.menu ul li > a:active {
	opacity: 0.25;
}

body > .layout > .fill > .left-bar {
	width: 22em;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

body > .layout.menu-active > .fill > .left-bar {
	overflow-y: scroll;
	overflow-x: scroll;
}

body > .layout > .fill > .left-bar input {
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	border: none;
	border-bottom: #CCC 1px solid;
	z-index: 1;
	padding-left: 4rem;
}
body > .layout > .fill > .left-bar .menu::before {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 2em;
	height: 2em;
	z-index: 20;
	content: '';
	padding: 1.25rem;
	background-image: url(./search.svg);
	background-size: 2em 2em;
	background-position: 50% 45%;
	background-repeat: no-repeat;
	opacity: 0.5;
	pointer-events: none;
}

.entry h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu li, .menu h6 {
	transition: opacity 0.5s ease-out, filter 0.5s ease-out;
	
}


.menu.inactive li, .menu.inactive h6 {
	pointer-events: none;
	opacity: 0.5;
	filter: grayscale(1);
}

.menu small {
	font-size: 0.85em;
}